.megaCard{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding-top: 1%;

}

.text{
    width: 50px;
}

@media (max-width: 1000px) {
    .megaCard{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        padding-top: 1%;
        max-width: fit-content;
        padding-left: 12%;
        padding-right: 12%;
        padding-bottom: 12%;
    }

    
}