.History{
    display: flex;
    flex-direction: row;
    

}

.image{
    width: 1920px;
    height: 400px;
    
    object-fit:cover;
}

.title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-indent:4em;
    
   
}