#container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* background-image: linear-gradient(60deg, red, yellow, #5CA63A); */
    height: 80px;
}

#menu{
    margin-right: 2rem;
}

.drop{
    background-color: #d86161;
}

#title{
    color:rgb(11, 68, 15);
    font-family: Impact, fantasy;
    font-size: 30px;
    margin-bottom: 5px;
}