#container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(55, 177, 55);
}

#menu{
    margin-right: 2rem;
}

#title{
    color:black;
}