#container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

#menu{
    margin-right: 2rem;
}


#title{
    color:rgb(11, 68, 15);
    font-family: Impact, fantasy;
    font-size: 30px;
    margin-bottom: 5px;
}