.container{
    background-color: rgba(30, 147, 30, 0.874);
    padding: 1rem;
    width: 60%;
    border-radius: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 1.2rem;
    margin-bottom: 0;
    color:rgb(11, 68, 15);
}